includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 8
    ignoreErrors:
        - identifier: instanceof.alwaysTrue
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
    paths:
        - src/
    resultCachePath: var/cache/phpstan/resultCache.php

services:
    cacheStorage:
        arguments:
            directory: var/cache/phpstan/cache/PHPStan
        alteration: true
